<div class="container">
  <h1>
    <i class="fa fa-spinner" id="spinner" style="display: none;">Please wait..</i>
  </h1>
  <form id="post-form" action="/createPost" method="POST">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" name="title" class="form-control">
    </div>
    <div class="form-group">
      <label for="body">Body</label>
      <textarea type="text" name="body" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <label for="status">Status</label>
      <select name="status" class="form-control">
        <option value="public">Public</option>
        <option value="private">Private</option>
        <option value="friends">Friends</option>
      </select>
    </div>
    <div class="form-group">
      <input type="file" name="image" id="upload-input">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" name="allowComments" id="checkbox" class="form-check-input">
      <label for="checkbox">Allow Comments</label>

    </div>
    <div class="form-group">
      <button type="button" onclick="showSpinner()" class="btn btn-primary">Share</button>
    </div>
  </form>
</div>

<script>
  function showSpinner(){
    document.getElementById('post-form').style.display = 'none';
    document.getElementById('spinner').style.display = 'block';
    setTimeout(function(){
      document.getElementById('post-form').submit();
    }, 2000);
  }
</script>
