<h2>You have a new smile from </h2>

<div class="card" style="width:18rem">
  <img src="{{smile.sender.image}}" class="card-img-top">
  <div class="card-body">

    <a href="/sendSmile/{{smile.sender._id}}" class="btn btn-primary">Smile back</a>
  </div>
</div>
