

<h2>Friend Request sent to </h2>
<div class="card" style="width:18rem; ">
  <img src="{{newFriend.image}}" class="card-img-top img-fluid">
  <div class="card-body">
    <h5 class="card-title">{{newFriend.fullname}}</h5>
    <a href="/singles" class="btn btn-primary">Go back</a>
  </div>
</div>
