<h2 class="center">
  You rejected friend request from
</h2>
<div class="card" style="width:18rem;">
  <img src="{{friend.image}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{friend.fullname}}</h5>
    <a href="/singles" class="btn btn-primary">Find friend</a>
  </div>
</div>
