<div class="row">
  <div class="col-sm">
  </div>

  <div class="col-sm-5">
    <form action="/askMore" method="POST">
      <div class="form-group">
        <label for="gender">Choose Gender</label>
        <select name="gender" id="gender">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>

    <div class="form-group">
      <label for="age">Choose age</label>
      <select name="age" id="age">
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>

      </select>
    </div>

    <button type="submit" class="btn btn-primary">Done</button>
    </form>
  </div>

  <div class="col-sm">

  </div>
</div>
