<div class="container">
  <h2>Do you want to delete your account</h2>
  <a href="/deleteAccount"><button class="btn btn-danger">Yes</button></a>
  <a href="/profile"><button class="btn btn-success">No</button></a>
</div>
