<h1>Contact Page</h1>
<form action="/contactUs" method="POST">
  <div class="mb-3 form-group">
    <label for="fullname" class="form-label">Full Name</label>
    <input name="fullname" type="text" class="form-control" id="fullname" placeholder="Enter Full Name">
  </div>


    <div class="mb-3 form-group">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input name="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>


  <div class="mb-3 form-group">
    <label for="message" class="form-label">Message</label>
    <input name="message" type="text" class="form-control" id="message" placeholder="Type Message">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
