<div class="row">
  <div class="col-sm-4">
    <h3 class="green">$10</h3>
    <p>Buy 20 messages for $10</p>
    <form action="/charge10dollars" method="POST">
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key={{StripePublishableKey}}
        data-amount="1000"
         data-name="Online Dating"
        data-description="$10 for 20 messages"
        data-image="/images/sleepturtle.png" data-locale="auto"></script>

    </form>
  </div>
</div>
