<div class="row">
  <div class="col-sm">
    <div class="card" style=" ">
      <img src="{{user.image}}" class="card-img-top" alt="">

    </div>
  </div>
  <div class="col-sm">

      <h5 class="card-title">Fullname: {{user.fullname}}</h5>
      <p class="card-text">Email: {{user.email}} </p>
  </div>
</div>

