<div class="container">
  <h1 id="spinner" style="display:none">
    Please wait ..
  </h1>
  <form action="/uploadAvatar" method="POST" id="uploadForm" enctype="multipart/form-data">
    <div class="form-group">
      <button class="btn btn-success upload-btn" type="button">Choose Image</button>
      <input type="file" name="upload" id="upload-input" style="display:none">
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-danger" onclick="showSpinner()">Upload</button>
    </div>
  </form>
</div>


<script>
  function showSpinner(){
    document.getElementById('uploadForm').style.display = 'none';
    document.getElementById('spinner').style.display = 'block';
    setTimeout(function(){
      document.getElementId('uploadForm').submit();
    }, 7000)
  }
</script>
