:root {}

h1 {
    text-align: center;
}

.center {
    text-align: center;
}

.green {
    color: green;
}

.red {
    color: red;
}

.fa-edit {
    cursor: pointer;
    color: blue;
    margin-right: 10px;
}

.fa-trash {
    color: red;
    margin-right: 10px;
}

.gray {
    color: gray;
}

.col-sm-3 {
    margin: 5px;
    border-bottom: 1px solid lightgrey;
    padding: 5px;
}

.chatroom-users {
    width: 64px;
    height: 64px;
}

#messages {
    height: 300px;
    overflow-y: scroll;
}

.right {
    float: right;
}

.singles-icons {
    margin-top: 5px;
}

#main-body {
    margin-top: 5em;
    margin-bottom: 5em;
}


/*style for payment options*/

.payment {
    margin: 5px;
    padding: 10px;
}

.post-icons {
    margin-right: 10px;
}

.btn-facebook {
    border-radius: 0;
    color: #fff;
    width: auto;
}

.btn-facebook:link,
.btn-facebook:visited {
    color: #fff;
    text-decoration: none;
}

.btn-facebook:active,
.btn-facebook:hover {
    color: #fff;
}


/*google btn*/

.btn-google {
    color: #fff;
    width: auto;
    border-radius: 0;
}

.btn-google:link,
.btn-google:visited,
.btn-google:hover,
.btn-google:active {
    color: #fff;
}

.fa-paperclip {
    cursor: pointer;
}

.pictures {
    border: 1px solid grey;
    margin: 5px;
    padding: 5px;
}

.picture {
    margin-bottom: 3px;
}

.image-icons {
    margin: 5px;
}