:root {}

h1 {
    text-align: center;
}

.center {
    text-align: center;
}

.green {
    color: green;
}

.red {
    color: red;
}

.fa-edit {
    cursor: pointer;
    color: blue;
    margin-right: 10px;
}

.fa-trash {
    color: red;
    margin-right: 10px;
}

.gray {
    color: gray;
}

.col-sm-3 {
    margin: 5px;
    border-bottom: 1px solid lightgrey;
    padding: 5px;
}

.chatroom-users {
    width: 64px;
    height: 64px;
}

#messages {
    height: 300px;
    overflow-y: scroll;
}

.right {
    float: right;
}

.singles-icons {
    margin-top: 5px;
}

#main-body {
    margin-top: 5em;
    margin-bottom: 5em;
}